{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> Lagarto canario         </h1>
           <p>
                Las palmas de Gran Canaria 22 de Mayo 2015 Un videoclip sobre el lagarto de Gran Canaria (Gallotia stehlini) un lacértido endémico de la Isla de Gran Canaria...
           </p>


    </div>

    <div class="col-4">
        <img src="/assets/img/lagarto.jpg" class="img-thumbnail">
    </div>


</div>

{{> footer}}
